html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    line-height: 2rem;
}

.input-text {
    height: 20rem;
}

.title {
    display: flex;    
    height: 4rem;
    background-color: #E27260;
    color: rgb(233, 232, 232);
    margin-left: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px #888888;
}

.json-code {
    line-height: 1.2rem;
}

.input {
    display: flex;
    flex-direction: row;    
    align-items: center;    
}